.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 200px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.svg__qwlZ4 {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: NqN9UnngZk9WYu */;
  flex-shrink: 0;
}
.svg__vOPx7 {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: NqN9UnngZk9WYu */;
  flex-shrink: 0;
}
.svg__fhHqY {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: NqN9UnngZk9WYu */;
  flex-shrink: 0;
}
.svg__cl0Ch {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: NqN9UnngZk9WYu */;
  flex-shrink: 0;
}
.svg__hj3OP {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: NqN9UnngZk9WYu */;
  flex-shrink: 0;
}
.svg__wQFwU {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: NFBV_oOCI4Hdw1 */;
  flex-shrink: 0;
}
.svg__suC5Z {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: NFBV_oOCI4Hdw1 */;
  flex-shrink: 0;
}
.svg__myCAl {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: NFBV_oOCI4Hdw1 */;
  flex-shrink: 0;
}
.svg__l2Ykd {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: NFBV_oOCI4Hdw1 */;
  flex-shrink: 0;
}
.svg___5CeoH {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: NFBV_oOCI4Hdw1 */;
  flex-shrink: 0;
}
.slotNumReviews {
  font-size: 14px;
  color: rgb(160, 158, 156) /* plasmic-token: uqUGwGVCvO2L6c */;
}
